/* .rowOne{
    height: 3rem;font-size: x-large;font-weight: bold;

}
#paraOne{
    font-size: x-large;color:cornflowerblue;
}
#paraTwo{
    font-size: x-large;color: greenyellow
}
h1{
    color:crimson;
}
.rowTwo{
    font-weight: bold;
}
.imgOne{
    width: 500px; height: 350px;
}
#one{
    background-color: greenyellow;position: fixed;
}
#second{
    background-color: hotpink;
}
#three{
    background-color: lightgreen;
}
.divOne{
    background-color: lightskyblue;
    height: 1500px;
} */

/* body{
    height: 1700px;
    margin: 0px;
}

table{
    background-color: black;
    width: 100%;
    position: fixed;
}
a{
    color: white;
} */